html {
  scroll-behavior: smooth;
}

/* Foreground color for body */
body {
  color: #161616;
}

/* Foreground color for all <a> tags */
a {
  color: #161616;
}

/* Hide visually hidden elements */
.visually-hidden {
  display: none;
}

/* Foreground color for card-category class */
.card-category {
  color: #D73953;
}

/* Foreground color for section-tagline class */
.section-tagline {
  color: #D73953;
}

/* Custom properties (variables) */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);

  /* Custom font families */
  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* custom font size properties */
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  /* custom font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* custom line heights */
  --line-height-small: 1.2;
  --line-height-base: 1.5;
  --line-height-big: 1.8;

  /* custom property for alignment of text class */
  --section-header-align: center;

  /* custom property for type of text so uppercase*/
  --section-tagline-transform: uppercase;
}

/* Set base font size to 62.5% (10px if default is 16px) */
html {
  font-size: 62.5%;
}

/* Foreground color for body */
body {
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
}

/* Foreground color for all <a> tags */
a {
  color: var(--text-color);
  text-decoration: none;
}

/* Hide visually hidden elements */
.visually-hidden {
  display: none;
}

/* Foreground color for card-category class */
.card-category {
  color: var(--color-primary);
}

/* add section-tagline class and alignment for this */
.section-header {
  text-align: var(--section-header-align);
}

/* Foreground color for section-tagline class */
.section-tagline {
  color: var(--color-primary);
  font-family: var(--font-family-title);
  text-transform: var(--section-tagline-transform);
  font-weight: var(--font-weight-bold);
}

/* Font styling for all heading levels */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}